.Slytherin {

    color:#aaaaaa;
    font-weight: 900;
    text-align: center;
    background-color: #1a472a;
    border: ridge 15px #aaaaaa;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


