.Slytherin {

    color:#aaaaaa;
    font-weight: 900;
    text-align: center;
    background-color: #1a472a;
    border: ridge 15px #aaaaaa;
}



.Slytherin {

    background-color: #2a623d;
    border: 10px ridge #5d5d5d;
}
