
.Hero{

color: snow;
background-image: url("../../Assets/salle-de-classe.webp");
background-position: center;
background-repeat: no-repeat;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Wizard World', sans-serif;
font-size: 5rem;
border-bottom: 1px solid aliceblue;
text-align:center ;
                                                
}

@media all and (max-width: 1024px) {

    .Hero{

        font-size:4rem ;
        height: 275px;
    }



}



@media all and (max-width: 640px) {

    .Hero{

        font-size:3rem ;
        height: 350px;
    }

}    
    