.Card {

    height: 250px;
    width: 175px;
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-direction: column;
    background-color: darkgrey;
    border: 12px ridge #966F33;
    transition: all .1s ease-in-out;

}


.Card:hover {

    transform: scale(1.075);

}

.Card img {

    object-fit: cover;
    height: 85%;

}

.bioPic img {

    object-fit: cover;
    
   height: 350px;
   
}

.characterName {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    height: 15%;
    color: black;
    font-size: 1.1rem;
    border-top: 4px solid black;
    background-color: #1FA055;
}



.modal {


    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(1, 1, 1, 0.7);

}

.bio {

    display: flex;
    justify-content: space-around;
    background-color: #022545;


    color: black;
    border: 5px solid #966F33;
    height: 550px;

    width: 70%;
}


.bioPicHolder {

    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
   

}




.bioPic {

    
    border: 15px ridge #966F33;
   height: 350px;
   
    
}



.datas {

    display: flex;
    flex-direction: column;
    color: #ffd7a7;
    align-items: center;

    padding: 10px;

    border: thick double;
    margin: 10px;


    background-color: #976b93;


}


.dataCat {

    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #62773a;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 10px;
}




.tag {

    background-color: #3a1700;
    width: 150px;
    font-size: 1.2rem;
    border-right: 2px solid black;
}

.tagInfo {

    margin-left: 20px;
    font-size: 1.2rem;

}