.Gryffindor {

    color: #eeba30;
    font-weight: 900;
    text-align: center;
    background-color: #740001;
    border: ridge 15px #d3a625;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.houseName {

    font-size: 2.5rem;
    padding: 1rem;
    font-weight: 900;
    text-decoration: underline;
}

.gryffindor {

    background-color: #ae0001;
    border: 10px ridge #eeba30;
}

.cardholder {

    display: flex;
    padding: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}


.paginationBttns {


    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #ffd7a7;
    color: #ffd7a7;
    background-color: #3a1700;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #976b93;
}

.paginationActive a {
    color: #3a1700;
    background-color: #976b93;
}

.paginationDisabled a {
    color: #3a1700;
    background-color: #62773a;
}




@media all and (max-width: 640px) {

    .houseName {

        font-size: 2rem;

    }


}