
.Gryffindor {

    color:#eeba30;
    font-weight: 900;
    text-align: center;
    background-color: #740001;
    border: ridge 15px #d3a625;
    margin: 20px;
}

.houseName {

    font-size: 2.5rem;
    padding: 1rem;
    font-weight: 900;
    text-decoration: underline;
}

.gryffindor {

    background-color: #ae0001;
    border: 10px ridge #eeba30;
}

.cardholder {

    display: flex;
    padding: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}