
.Gryffindor {

    color:#d3a625;
    font-weight: 900;
    text-align: center;
    background-color: #740001;
    border: ridge 15px #d3a625;
}



.houseName {

    font-size: 2rem;
    padding: 0.5rem;
}


.gryffindor {

    background-color: #ae0001;
    border: 10px ridge #eeba30;
}

.cardholder {

    display: flex;
    padding: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}