.App {

  background-color: #121212;                                      
  font-family: 'Wizard World', sans-serif;                                         
}

a {

  text-decoration: none;
  color: aliceblue;
}

h1, h2, h3 {

  text-decoration: underline;
  color: rgba(255, 255, 255, .87);
  text-align: center;
}


p {

  color: rgba(255, 255, 255, .60);
  text-align: center;

}