.Hufflepuff {

    color: #372e29;
    text-align: center;
    background-color: #ecb939;
    border: ridge 15px #726255;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
